*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    direction: ltr;
}
#header{
    background-color: black;
    position: fixed;
    width: 100%;
    opacity: 0.8;
}
#header #logo{
    padding: 6px 10px 6px 4px;
    color: white;
    float: left;
    font-size: 30px;
    font-family: Lucida Console;
    font-style: oblique;
    font-weight: bold;
}
#header #lmenu{
    padding: 11px 8px;
    float: left;
    font-size: 18px;
    font-family: arial;
}
#header #lmenu ul li{
    list-style-type: none;
    padding-left: 15px;
    display: inline-block;
}
#header #lmenu ul li a{
    text-decoration: none;
    color: white;
}
#header #rmenu{
    float: right;
    padding: 11px 8px;
    font-family: arial;
}
#header #rmenu ul li{
    list-style-type: none;
    padding-left: 7px;
    display: inline-block;
}
#header #rmenu ul li a{
    text-decoration: none;
    color: white;
}
#sbutton_label{
    position: absolute;
    margin-left: -45px;
    margin-top: -14px;
}
#search_text{
    border: none;
    position: absolute;
    margin-top: -21px;
    margin-left: -230px;
}
.txt{
    font-size: 18px;
    padding: 6px;
    margin: 5px 0px 11px 0px;
}
.rpanel{
    border-left: 1px solid #555;
    padding: 5px;
    margin: 10px;
}

.cpanel{
    border: 1px solid #555;
    padding: 5px;
    margin: 15px;
}

a{
    color: #555;
    text-decoration: none;
}

a:hover{
    color: #ccc;
    text-decoration: none;
}

.head{
    background-color: #555;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.bodypanel{
    border-bottom: 1px #555 solid;
    border-right: 1px #555 solid;
    border-left: 1px #555 solid;
    padding: 7px;
    margin-bottom: 8px;
}

.table{
    background-color: #555;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.table2{
    background-color: #f1f1f1;
    padding: 3px;
}

.table3{
    background-color: #fff;
    padding: 3px;
}

.buttons{
    background-color: #555;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border: #fff 1px dotted;
    color: #fff;
}

.buttons:hover{
    background-color: #f99600;
    color: #CCFF99;
    border: #555 1px dashed;
}

input,textarea,select{
    background-color: #fff;
    border: 1px dotted #555;
}
input:hover,textarea:hover,select:hover{
    background-color: #97ffe4;
    border: 1px solid #555555;
}
input:focus,textarea:focus,select:focus{
    background-color: #ffecb2;
    border: 1px solid #000000;
}

.imp{
    border: 1px #ccc solid;
    background-color: #f1f1f1;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}
.Failed{
    background-color: #FFB3B3;
    color: #FF3E3E;
    border: 1px solid #FF3E3E;
    font-size: 25px;
    border-radius: 9px;
    text-align: center;
    padding: 3px;
    margin-top: 7px;
    font-family: 'Risque', cursive;
}
.Done{
    background-color: #9BCDFF;
    color: blue;
    border:1px solid blue;
    font-size: 25px;
    border-radius: 9px;
    text-align: center;
    padding: 3px;
    margin-top: 7px;
    font-family: 'Hanalei Fill', cursive;
}